<% include partials/header %>

<h1>This is the home page!</h1>

<img src="https://www.petfinder.com/wp-content/uploads/2012/11/152177319-declawing-cats-632x475-e1354303246526-632x353.jpg">

<% include partials/footer %>